@import "../abstract/global.scss";
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
.header {
    background-color: black;
    color: white;
    padding: 1rem;
    &--title {
       @include text-color(2rem);
       margin-top: 2rem;
    
    }
  
    
}