@import '../abstract/global';

.heroImages {
 height: auto;
 max-width: 100%;
//  background-position: center;
  // display: flex;
  padding: .5rem 16rem;
  // justify-content: center;
  // align-items: center;
 
    //  @include respond(tab-land) {
    //         height: 80vh;
    //     }
    //     @include respond(tab-port) {
    //         height: 70vh;
    //     }
    //     @include respond(phone) {
    //          height: 50vh;

    //     }
    }
