@import '../abstract/global';

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
}
.slide {
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
    min-width: 100%;
    height: 100%;
    transition:  0.5s;
    overflow: hidden;

}
%btn-styles {
     position: absolute;
    top: 55%;
    transform: translateY(-50%);
    // width: 5%;
    height: 50%;
    background: none;
    border: none;
    outline: none;
    transition: all 0.3s ease-in;
    &:hover {
        // background: $transBlack;
        cursor: pointer;
    }
}
.prevBtn {
    left: 0;
    padding-left: 5rem;
    @extend %btn-styles;
    
}
.nextBtn { 
    right: 0;
    padding-right: 5rem;
     @extend %btn-styles;
}
.hammer1, .hammer2{
    padding: 2rem;
   fill: #f5a83d93;
   transition: all .4s ease-in;
   &:hover {
      fill: #bd7613bb;
       transform: rotate(-32deg)
   }
}
   .hammer2 {
       &:hover {
          transform: rotate(32deg)  
       }
   }

